<form (ngSubmit)="onSubmit()">
  <div class="row" style="margin-left:10px">
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Agility</td>
          <td>
            <input min="1" max="10" type="number" [(ngModel)]="model.agility.level" (ngModelChange)="model.recalculateSkills()" name="agilityLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.agility.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input min="0" max="5" type="number" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input min="0" max="5" type="number" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Care</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.care.level" (ngModelChange)="model.recalculateSkills()" name="careLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.care.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Fighting</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.fighting.level" (ngModelChange)="model.recalculateSkills()" name="fightingLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.fighting.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Faith</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.faith.level" (ngModelChange)="model.recalculateSkills()" name="faithLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.faith.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Shadow arts</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.shadowArts.level" (ngModelChange)="model.recalculateSkills()" name="shadowArtsLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.shadowArts.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Vitner craft</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.vitnerCraft.level" (ngModelChange)="model.recalculateSkills()" name="vitnerCraftLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.vitnerCraft.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Entertainment</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.entertainment.level" (ngModelChange)="model.recalculateSkills()"
              name="entertainmentLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.entertainment.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Knowledge</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.knowledge.level" (ngModelChange)="model.recalculateSkills()" name="knowledgeLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.knowledge.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th>Skill</th>
          <th></th>
          <th></th>
          <th>LVL</th>
          <th>SV</th>
        </tr>
        <tr>
          <td colspan="3">Wilderness</td>
          <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.wilderness.level" (ngModelChange)="model.recalculateSkills()" name="wildernessLevel">
          </td>
          <td>
          </td>
        </tr>
        <tbody *ngFor="let discipline of model.wilderness.disciplines">
          <tr>
            <td style="width:15px"></td>
            <td colspan="2">{{discipline.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
          <tr *ngFor="let speciality of discipline.specialities">
            <td style="width:15px"></td>
            <td style="width:15px"></td>
            <td style="align-self: left">{{speciality.name}}</td>
            <td>
              <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
            </td>
            <td>
              <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div style="border-bottom: solid gray 1px">
        <label for="inputCustomsLaw">Culture knowledge</label>
        <input type="text" id="inputCustomsLaw" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addCustomsLaw()">Add Culture knowlege</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputForeignTongue">Foreign tongue</label>
        <input type="text" id="inputForeignTongue" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addForeignTongue()">Add Foreign tongure</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputMotherTongue">Mother tongue</label>
        <input type="text" id="inputMotherTongue" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addMotherTongue()">Add Mother tongure</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputReadingWriting">Reading &amp; writing</label>
        <input type="text" id="inputReadingWriting" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addReadingWriting()">Add Reading &amp; writing</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputCustomsLaw">Customs &amp; laws</label>
        <input type="text" id="inputCustomsLaw" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addCustomsLaw()">Add Customs &amp; laws</button>
      </div>
    </div>
    <div class="col-md-4">
      <div style="border-bottom: solid gray 1px">
        <label for="inputLoreLegends">Lore &amp; legendes</label>
        <input type="text" id="inputLoreLegends" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addLoreLegends()">Add Lore &amp; legendes</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputReligion">Religion</label>
        <input type="text" id="inputReligion" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addReligion()">Add Religion</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputInsight">Insight</label>
        <input type="text" id="inputInsight" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addInsight()">Add Insight</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputCityKnowledge">City knowledge</label>
        <input type="text" id="inputCityKnowledge" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addCityKnowledge()">Add City knowledge</button>
      </div>
      <button type="button" style="margin-top: 10px" class="btn btn-success" (click)="scrollToTop()">Go to top</button>
    </div>
    <div class="col-md-4">
      <div style="border-bottom: solid gray 1px">
        <label for="inputLandKnowledge">Land knowledge</label>
        <input type="text" id="inputLandKnowledge" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addLandKnowledge()">Add Land knowledge</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputSeaKnowledge">Sea knowledge</label>
        <input type="text" id="inputSeaKnowledge" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addSeaKnowledge()">Add Sea knowledge</button>
      </div>
      <div style="border-bottom: solid gray 1px">
        <label for="inputSpeciesHunterKnowledge">Species hunter</label>
        <input type="text" id="inputSpeciesHunterKnowledge" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addSpeciesHunterKnowledge()">Add Species hunter</button>
      </div>
      <div>
        <label for="inputTerrainExperienceKnowledge">Terrain experience</label>
        <input type="text" id="inputTerrainExperienceKnowledge" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addTerrainExperience()">Add Terrain experience</button>
      </div>
      <div>
        <label for="inputNewVitnerTablet">Vitner tablet</label>
        <input type="text" id="inputNewVitnerTablet" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addVitnerTablet()">Add Vitner tablet</button>
      </div>
      <div>
        <label for="inputNewHolyTablet">Holy tablet</label>
        <input type="text" id="inputNewHolyTablet" style="width:100%; margin-bottom:5px">
        <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addHolyTablet()">Add Holy tablet</button>
      </div>
    </div>
  </div>
</form>