<form (ngSubmit)="onSubmit()">
  <div class="form">
    <div class="row">
      <div class="form-group col-md-4">
        
      </div>
      <div class="form-group col-md-4 align-items-center" >
        <table style="height: 100%"></table>
        <label for="inputUserName">Username:</label>
        <input type="text" class="form-control" id="inputUserName" name="userName" [(ngModel)]="user.userName">
        <label for="inputPassword" style="margin-top: 5px">Password:</label>
        <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="user.password">
        <button type="submit" class="btn btn-success" style="margin-top: 10px">Login</button>
        <button type="button" (click)="gotoRegister()" class="btn btn-success" style="margin-top: 10px">Register</button>
      </div>
      <div class="form-group col-md-4">
      
      </div>
    </div>
  </div>
</form>