<form (ngSubmit)="onSearch()">
  <div class="row">
    <div class="form-group col-md-4">
      <h2>Shared with</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of model.sharedWith">
          <p>{{user}}</p>
          <button type="button" class="btn btn-danger" (click)="model.stopSharing(user)">Stop sharing</button>
        </li>
      </ul>
    </div>
    <div class="form-group col-md-8">
      <h2>Share with</h2>
      <div>
          <input id="inputSearchUser" class="form-control" type="text" placeholder="Search user...">
          <button type="submit" class="btn btn-secondary">Search</button>
      </div>
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of searchedUsers">
            <p>{{user.userName}}</p>
            <button type="button" class="btn btn-success" (click)="model.startSharing(user)">Start sharing</button>
          </li>
        </ul>
    </div>
  </div>
</form>