<ngb-tabset>
  <ngb-tab title="General">
    <ng-template ngbTabContent>
      <app-general-tab [model]="model" [canUpdate]="canUpdate"></app-general-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Combat">
    <ng-template ngbTabContent>
      <app-combat-tab [model]="model"></app-combat-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Skills">
    <ng-template ngbTabContent>
      <app-skills-tab [model]="model"></app-skills-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Spells &amp; Effects">
    <ng-template ngbTabContent>
      <app-spells-tab [model]="model"></app-spells-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Items">
    <ng-template ngbTabContent>
      <app-items-tab [model]="model"></app-items-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Sharing">
    <ng-template ngbTabContent>
      <app-sharing-tab [model]="model"></app-sharing-tab>
    </ng-template>
  </ngb-tab>
</ngb-tabset>