<ng-template #addXpPopup let-c="close">
  <div class="modal-body">
    <form (ngSubmit)="onSubmitModal(addExpForm)" #addExpForm="ngForm">
      <div class="form-group">
        <label for="inputAddExp">XP: </label>
        <input type="number" id="inputAddExp" ngModel name="inputAddExp">
        <button type="submit" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger" (click)="c('closing')">Close</button>
      </div>
    </form>
  </div>
</ng-template>
<ngb-tabset>
  <ngb-tab title="General">
    <ng-template ngbTabContent>
      <form (ngSubmit)="onSubmit()">
        <div class="row" style="margin-left:10px">
          <div class="form-group col-md-3">
            <label for="inputName">Name: </label>
            <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="model.name" placeholder="name...">
            <label for="inputRace">Race: </label>
            <select id="inputRace" class="form-control" name="race" [(ngModel)]="model.race" (ngModelChange)="model.recalculateAvailableXp()">
              <option>Human</option>
              <option>Elf</option>
              <option>Dwarf (Buratja)</option>
              <option>Dwarf (Borjornikka)</option>
              <option>Half-troll</option>
              <option>Half-elf</option>
              <option>Dwarf-troll</option>
            </select>
            <label for="inputCulture">Culture: </label>
            <input type="text" class="form-control" id="inputCulture" name="culture" [(ngModel)]="model.culture" placeholder="culture...">
            <label for="inputReligion">Religion: </label>
            <input type="text" class="form-control" id="inputReligion" name="religion" [(ngModel)]="model.religion" placeholder="religion...">
          </div>
          <div class="form-group col-md-3">
            <label for="inputGender">Gender: </label>
            <select id="inputGender" class="form-control" name="gender" [(ngModel)]="model.gender">
              <option>Male</option>
              <option>Female</option>
            </select>
            <label for="inputHeight">Height: </label>
            <input type="number" class="form-control" id="inputHeight" name="height" [(ngModel)]="model.height" placeholder="height...">
            <label for="inputWeight">Weight: </label>
            <input type="number" class="form-control" id="inputWeight" name="weight" [(ngModel)]="model.weight" placeholder="weight...">
            <label for="inputHand">Weapon hand: </label>
            <select id="inputHand" class="form-control" name="weaponHand" [(ngModel)]="model.weaponHand">
              <option>Right</option>
              <option>Left</option>
              <option>Dual</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputAvailableXp">Available Xp: </label>
            <input type="number" class="form-control" id="inputAvailableXp" name="availableXp" [(ngModel)]="model.availableXp" readonly>
            <label for="inputAvailableXp">Used Xp: </label>
            <input type="number" class="form-control" id="inputAvailableXp" name="usedXp" [(ngModel)]="model.usedXp" readonly>
            <button type="button" style="margin-top: 5px" class="btn btn-success" (click)="open(addXpPopup)">Reward Xp</button>
          </div>
          <div class="form-group col-md-2">
            <label for="inputMovement">Movement:</label>
            <input type="number" class="form-control" id="inputMovement" name="movement" [(ngModel)]="model.movement" readonly>
            <label for="inputInitiative">Initiative modifier (not including armor/weapon):</label>
            <input type="number" class="form-control" id="inputInitiative" name="initiative" [(ngModel)]="model.initiative" readonly>
            <label for="inputPersistance">Persistance in the wild:</label>
            <input type="number" class="form-control" id="inputPersistance" name="persistance" [(ngModel)]="model.persistance" readonly>
            <label for="inputRaud">Raud:</label>
            <input type="number" class="form-control" id="inputRaud" name="raud" [(ngModel)]="model.raud" readonly>
            <button type="button" class="btn btn-success" style="margin-top: 5px" readonly (click)="model.rollRaud()">Roll Raud</button>
          </div>
        </div>
        <div class="form-group col-md-12" style="margin-left:10px">
          <label for="inputCharisma" style="margin-right: 5px">Charisma: </label>
          <input type="number" id="inputCharisma" style="margin-right: 5px" max="4" min="-4" (ngModelChange)="model.recalculateAvailableXp()"
            [(ngModel)]="model.stats.charisma" name="inputCharisma">
          <label for="inputConstitution" style="margin-right: 5px">Constitution: </label>
          <input type="number" id="inputConstitution" style="margin-right: 5px" max="4" min="-4" [(ngModel)]="model.stats.constitution"
            name="inputConstitution" (ngModelChange)="model.recalculateAvailableXp()">
          <label for="inputDexterity" style="margin-right: 5px">Dexterity: </label>
          <input type="number" id="inputDexterity" style="margin-right: 5px" max="4" min="-4" [(ngModel)]="model.stats.dexterity" name="inputDexterity"
            (ngModelChange)="model.recalculateAvailableXp()">
          <label for="inputIntelligence" style="margin-right: 5px">Intelligence: </label>
          <input type="number" id="inputIntelligence" style="margin-right: 5px" max="4" min="-4" [(ngModel)]="model.stats.intelligence"
            name="inputIntelligence" (ngModelChange)="model.recalculateAvailableXp()">
          <label for="inputPerception" style="margin-right: 5px">Perception: </label>
          <input type="number" id="inputPerception" style="margin-right: 5px" max="4" min="-4" [(ngModel)]="model.stats.perception"
            name="inputPerception" (ngModelChange)="model.recalculateAvailableXp()">
          <label for="inputPsyche" style="margin-right: 5px">Psyche: </label>
          <input type="number" id="inputPsyche" style="margin-right: 5px" max="4" min="-4" [(ngModel)]="model.stats.psyche" name="inputPsyche"
            (ngModelChange)="model.recalculateAvailableXp()">
          <label for="inputStrength" style="margin-right: 5px">Strength: </label>
          <input type="number" id="inputStrength" style="margin-right: 5px" max="4" min="-4" [(ngModel)]="model.stats.strength" name="inputStrength"
            (ngModelChange)="model.recalculateAvailableXp()">
        </div>
        <div class="row" style="margin-left:10px; margin-right:10px">
          <div class="form-group col-md-12">
            <label for="inputBackground">Background: </label>
            <textarea class="form-control" id="inputBackground" rows="20" name="background" [(ngModel)]="model.background"></textarea>
          </div>
          <button *ngIf="canUpdate" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Combat">
    <ng-template ngbTabContent>
      <form>
        <div class="row">
          <div class="col-md-2">
            <ul class="list-group">
              <li class="list-group-item">Free</li>
              <li class="list-group-item">Attack &amp; Parries</li>
              <li class="list-group-item">Combat actions</li>
              <li class="list-group-item">Unarmed</li>
              <li class="list-group-item">Wrestling</li>
              <li class="list-group-item">Brawling</li>
              <li class="list-group-item">Armed</li>
              <li class="list-group-item">Bows &amp; Slings</li>
              <li class="list-group-item">Crossbow</li>
              <li class="list-group-item">1H Light Weapons</li>
              <li class="list-group-item">1H Heavy Weapons</li>
              <li class="list-group-item">Shield Bearer</li>
              <li class="list-group-item">Throwing Weapons</li>
              <li class="list-group-item">Two-Handed Weapons</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="list-group">
              <li class="list-group-item">{{model.freeCombatPoints}}</li>
              <li class="list-group-item">{{model.attackParriesPoints}}</li>
              <li class="list-group-item">{{model.combatActionsPoints}}</li>
              <li class="list-group-item">{{model.unarmedPoints}}</li>
              <li class="list-group-item">{{model.wrestlingPoints}}</li>
              <li class="list-group-item">{{model.brawlingPoints}}</li>
              <li class="list-group-item">{{model.armedPoints}}</li>
              <li class="list-group-item">{{model.bowsSlingsPoints}}</li>
              <li class="list-group-item">{{model.crossbowPoints}}</li>
              <li class="list-group-item">{{model.lightWeaponPoints}}</li>
              <li class="list-group-item">{{model.heavyWeaponPoints}}</li>
              <li class="list-group-item">{{model.shieldBearerPoints}}</li>
              <li class="list-group-item">{{model.throwingWeaponPoints}}</li>
              <li class="list-group-item">{{model.twoHandedPoints}}</li>
            </ul>
          </div>
          <div class="col-md-6">
            <table class="table table-hover" style="width: 100%">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 30%">Body points</td>
                  <td style="width: 30%">{{model.maximumBodyPoints}}</td>
                  <td>
                    <input type="number" id="currentBodyPoints" max={{model.maximumBodyPoints}} min="0" style="margin-right: 5px" [(ngModel)]="model.currentBodyPoints"
                      name="currentBodyPoints" (ngModelChange)="model.recalculateAvailableXp()">
                  </td>
                </tr>
                <tr>
                  <td style="width: 30%">Natural healing</td>
                  <td colspan="2">{{model.naturalHealing}}</td>
                </tr>
                <tr>
                  <td style="width: 30%">Injury</td>
                  <td colspan="2">{{model.currentInjury}}</td>
                </tr>
                <tr>
                  <td style="width: 30%">Fear modifier</td>
                  <td style="width: 30%">{{model.fearResist}}</td>
                  <td>
                    <input type="number" id="inputcurrentFear" max="50" min="0" style="margin-right: 5px" [(ngModel)]="model.currentFear" name="currentFear"
                      (ngModelChange)="model.recalculateAvailableXp()">
                  </td>
                </tr>
                <tr>
                  <td style="width: 30%">Fear</td>
                  <td colspan="2">{{model.currentFearModifier}}</td>
                </tr>
                <tr>
                  <td style="width: 30%">Vitner points</td>
                  <td style="width: 30%">{{model.maxVitnerPoints}}</td>
                  <td>
                    <input type="number" id="inputCurrentVitner" max={{model.maxVitnerPoints}} min="0" style="margin-right: 5px" [(ngModel)]="model.currentVitnerPoints"
                      name="currentVitner" (ngModelChange)="model.recalculateAvailableXp()">
                  </td>
                </tr>
                <tr>
                  <td style="width: 30%">Divine power</td>
                  <td style="width: 30%">{{model.maxHolyPoints}}</td>
                  <td>
                    <input type="number" id="inputcurrentHolyPoints" max={{model.maxHolyPoints}} min="0" style="margin-right: 5px" [(ngModel)]="model.currentHolyPoints"
                      name="currentHolyPoints" (ngModelChange)="model.recalculateAvailableXp()">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Skills">
    <ng-template ngbTabContent>
      <form (ngSubmit)="onSubmit()">
        <div class="row" style="margin-left:10px">
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Agility</td>
                <td>
                  <input min="1" max="10" type="number" [(ngModel)]="model.agility.level" (ngModelChange)="model.recalculateSkills()" name="agilityLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.agility.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input min="0" max="5" type="number" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input min="0" max="5" type="number" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Care</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.care.level" (ngModelChange)="model.recalculateSkills()" name="careLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.care.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Fighting</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.fighting.level" (ngModelChange)="model.recalculateSkills()" name="fightingLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.fighting.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Faith</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.faith.level" (ngModelChange)="model.recalculateSkills()" name="faithLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.faith.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Shadow arts</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.shadowArts.level" (ngModelChange)="model.recalculateSkills()" name="shadowArtsLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.shadowArts.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Vitner craft</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.vitnerCraft.level" (ngModelChange)="model.recalculateSkills()" name="vitnerCraftLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.vitnerCraft.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Entertainment</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.entertainment.level" (ngModelChange)="model.recalculateSkills()"
                    name="entertainmentLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.entertainment.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Knowledge</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.knowledge.level" (ngModelChange)="model.recalculateSkills()" name="knowledgeLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.knowledge.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
                <th>Skill</th>
                <th></th>
                <th></th>
                <th>LVL</th>
                <th>SV</th>
              </tr>
              <tr>
                <td colspan="3">Wilderness</td>
                <td>
                  <input type="number" min="1" max="10" [(ngModel)]="model.wilderness.level" (ngModelChange)="model.recalculateSkills()" name="wildernessLevel">
                </td>
                <td>
                </td>
              </tr>
              <tbody *ngFor="let discipline of model.wilderness.disciplines">
                <tr>
                  <td style="width:15px"></td>
                  <td colspan="2">{{discipline.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="discipline.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="discipline.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                <tr *ngFor="let speciality of discipline.specialities">
                  <td style="width:15px"></td>
                  <td style="width:15px"></td>
                  <td style="align-self: left">{{speciality.name}}</td>
                  <td>
                    <input type="number" min="0" max="5" [(ngModel)]="speciality.level" [ngModelOptions]="{standalone: true}" (ngModelChange)="model.recalculateSkills()">
                  </td>
                  <td>
                    <input type="number" readonly [(ngModel)]="speciality.sv" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <div style="border-bottom: solid gray 1px">
              <label for="inputCustomsLaw">Culture knowledge</label>
              <input type="text" id="inputCustomsLaw" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addCustomsLaw()">Add Culture knowlege</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputForeignTongue">Foreign tongue</label>
              <input type="text" id="inputForeignTongue" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addForeignTongue()">Add Foreign tongure</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputMotherTongue">Mother tongue</label>
              <input type="text" id="inputMotherTongue" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addMotherTongue()">Add Mother tongure</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputReadingWriting">Reading &amp; writing</label>
              <input type="text" id="inputReadingWriting" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addReadingWriting()">Add Reading &amp; writing</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputCustomsLaw">Customs &amp; laws</label>
              <input type="text" id="inputCustomsLaw" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addCustomsLaw()">Add Customs &amp; laws</button>
            </div>
          </div>
          <div class="col-md-4">
            <div style="border-bottom: solid gray 1px">
              <label for="inputLoreLegends">Lore &amp; legendes</label>
              <input type="text" id="inputLoreLegends" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addLoreLegends()">Add Lore &amp; legendes</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputReligion">Religion</label>
              <input type="text" id="inputReligion" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addReligion()">Add Religion</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputInsight">Insight</label>
              <input type="text" id="inputInsight" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addInsight()">Add Insight</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputCityKnowledge">City knowledge</label>
              <input type="text" id="inputCityKnowledge" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addCityKnowledge()">Add City knowledge</button>
            </div>
            <button type="button" style="margin-top: 10px" class="btn btn-success" (click)="scrollToTop()">Go to top</button>
          </div>
          <div class="col-md-4">
            <div style="border-bottom: solid gray 1px">
              <label for="inputLandKnowledge">Land knowledge</label>
              <input type="text" id="inputLandKnowledge" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addLandKnowledge()">Add Land knowledge</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputSeaKnowledge">Sea knowledge</label>
              <input type="text" id="inputSeaKnowledge" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addSeaKnowledge()">Add Sea knowledge</button>
            </div>
            <div style="border-bottom: solid gray 1px">
              <label for="inputSpeciesHunterKnowledge">Species hunter</label>
              <input type="text" id="inputSpeciesHunterKnowledge" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addSpeciesHunterKnowledge()">Add Species hunter</button>
            </div>
            <div>
              <label for="inputTerrainExperienceKnowledge">Terrain experience</label>
              <input type="text" id="inputTerrainExperienceKnowledge" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addTerrainExperience()">Add Terrain experience</button>
            </div>
            <div>
              <label for="inputNewVitnerTablet">Vitner tablet</label>
              <input type="text" id="inputNewVitnerTablet" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addVitnerTablet()">Add Vitner tablet</button>
            </div>
            <div>
              <label for="inputNewHolyTablet">Holy tablet</label>
              <input type="text" id="inputNewHolyTablet" style="width:100%; margin-bottom:5px">
              <button type="button" style="margin-bottom: 5px" class="btn btn-success" (click)="model.addHolyTablet()">Add Holy tablet</button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Items">
    <ng-template ngbTabContent>
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <h3>Weapons</h3>
            <table class="table table-bordered">
              <tr>
                <th>Type</th>
                <th>WA</th>
                <th>IM</th>
                <th>PV</th>
                <th>BV</th>
                <th>Damage</th>
                <th>Short range</th>
                <th>Long range</th>
                <th>Extra</th>
                <th></th>
              </tr>
              <tr *ngFor="let weapon of model.weapons">
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.type">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.weaponActions">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.initiativeModifier">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.pv">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.breakValue">
                </td>
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.damage">
                </td>
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.shortRange">
                </td>
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.longRange">
                </td>
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="weapon.extra">
                </td>
                <td>
                  <button type="button" (click)="model.removeWeapon(weapon)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </table>
            <button type="button" (click)="model.addWeapon()" class="btn btn-success">Add Weapon</button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-9">
            <h3>Armors</h3>
            <table class="table table-bordered">
              <tr>
                <th>Type</th>
                <th>Heft</th>
                <th>IM</th>
                <th>PV</th>
                <th>BV</th>
                <th>Extra</th>
              </tr>
              <tr *ngFor="let armor of model.armors">
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="armor.type">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="armor.heft">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="armor.initiativeModifier">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="armor.pv">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="armor.breakValue">
                </td>
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="armor.extra">
                </td>
                <td>
                  <button type="button" (click)="model.removeArmor(armor)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </table>
            <button type="button" (click)="model.addArmor()" class="btn btn-success">Add Armor</button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-9">
            <h3>Items</h3>
            <table class="table table-bordered">
              <tr>
                <th>Type</th>
                <th>Quantity</th>
                <th>Description</th>
              </tr>
              <tr *ngFor="let item of model.items">
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.type">
                </td>
                <td>
                  <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.quantity">
                </td>
                <td>
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.description">
                </td>
                <td>
                  <button type="button" (click)="model.removeItem(item)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </table>
            <button type="button" (click)="model.addItem()" class="btn btn-success">Add Item</button>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Sharing">
    <ng-template ngbTabContent>
      <form (ngSubmit)="onSearch()">
        <div class="row">
          <div class="form-group col-md-4">
            <h2>Shared with</h2>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of model.sharedWith">
                <p>{{user}}</p>
                <button type="button" class="btn btn-danger" (click)="model.stopSharing(user)">Stop sharing</button>
              </li>
            </ul>
          </div>
          <div class="form-group col-md-8">
            <h2>Share with</h2>
            <div>
                <input id="inputSearchUser" class="form-control" type="text" placeholder="Search user...">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of searchedUsers">
                  <p>{{user.userName}}</p>
                  <button type="button" class="btn btn-success" (click)="model.startSharing(user)">Start sharing</button>
                </li>
              </ul>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
</ngb-tabset>