<div class="row">
  <div class="col-md-4">
    <ul class="list-group" *ngFor="let character of characters">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
           <a [routerLink]="['character', character._id]">{{character.name}}</a>     
        </div>
      </li>
    </ul>
    <button type="button" class="btn btn-success" style="margin-top: 10px" (click)="createCharacter()">Create new</button>
  </div>
  <div class="col-md-8">
    
  </div>
</div>